result_files/*
source_files/*
temporary_files/*
!result_files/.gitkeep 
!source_files/.gitkeep
!temporary_files/.gitkeep
# Ignore virtual env folder#
###################
**/*venv*/**

# Ignore archived version of notebooks and python stuffs #
###################
*.ipynb_checkpoints
__pycache__

init.dockerfile